.box {
    width: 100px;
    height: 100px;
    color: rgba(240, 248, 255, 0);
}

.red {
    background-color: rgb(247, 127, 127);
}

.blue {
    background-color: rgb(156, 233, 252);
}

.yellow {
    background-color: rgb(244, 252, 131);
}

.mom {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.out {
    position: fixed;
    left: 0;
}


